* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    color: aliceblue;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #bec97b 0%,#dbe3c6 100%);
    font-family: Arial, Helvetica, sans-serif;
}

#topHeader {
    min-height: 133px;
    background: linear-gradient(to bottom, #07773e 0%,#308a32 100%);
}

#logo {
    text-align: center;
    color: #f98ad4;
    line-height: 133px;
    font-size: 80px;
}

#topNavigation {
    background: linear-gradient(to bottom, #07773e 0%,#308a32 100%);
    color: #f98ad4;
    min-height: 47px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.7);
}

ul {
    text-align: center;
}

li {
    display: inline;
}

a {
    line-height: 47px;
    text-decoration: none;
    padding: 0 15px;
    font-weight: 900;
    border-right: 1px solid aliceblue;
}

li:last-child >a {
    border-right:none;
}

#main-wrapper { 
    width: 80vw;
    padding: 20px 0;
    margin: 0 auto;
}

    /* Clear floats after the columns */
#goto-menu:after  {
      content: "";
      display: table;
      clear: both;
}

.mySlides> img {
    width: 100%;
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,.7);
}

.column {
    width: 49%;
    float: left;
}

.column.right {
    float: left;
    margin-left: 2%;
}

.column img {
    width: 100%;
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,.7);
}

#footer-top {
    background-image: url('../images/header-bg.png');
    text-align: center;
    font-style: italic;
    color: white ;
    font-weight: 900;
    padding: 20px 0;
}

#footer-top>h3 {
    text-shadow: 1px 1px 3px rgba(0,0,0,.7);
    padding-bottom: 10px;
}

.social-welcome {
    padding-left: 0.5rem;
}

#footer-bottom {
    background-color: #1f1f1f;
}


#footer-top img {
    vertical-align: middle;
}